---
import { Image } from 'astro:assets';
const { post } = Astro.props;
const url = post.url;
const { image, title, pubDate, author, description, tags } = post.frontmatter;
---

<li class='border border-black rounded'>
	<div class='rounded flex'>
		<a href={url} class='flex justify-center items-center bg-black p-2'>
			<Image
				src={image.url}
				alt={image.alt}
				object-fit='cover'
				decoding='async'
				quality='low'
				format='webp'
				width={300}
				height={150}
				class='rounded-l'
				transition:name={image.alt}
			/>
		</a>
		<div class='flex flex-col m-4'>
			<a href={url}>
				<p class='text-2xl font-bold mb-1 hover:underline'>
					{title}
				</p>
			</a>
			<small class='mb-4'
				>by
				<a
					href=`/author/${author.replaceAll(' ', '-').toLowerCase()}`
					class='hover:line-through'
				>
					{author}
				</a>
				 &#128900; {pubDate.slice(0, 10)}</small
			>
			<p class='mb-6'>{description}</p>
			<div class='flex gap-2'>
				{
					tags.map((tag: string) => {
						return (
							<a href={'/categories/' + tag.replaceAll(' ', '-').toLowerCase()}>
								<p class='border border-black p-1 rounded hover:bg-black hover:text-white'>
									{tag}
								</p>
							</a>
						);
					})
				}
			</div>
		</div>
	</div>
</li>
