---
import { Image } from 'astro:assets';
import { datefy, slugify, titlefy } from '@scripts';
import type { CollectionEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
const url = post.slug;
const { image, title, pubDate, author, description, tags } = post.data;
---

<li class='card'>
	<a
		href={'/' + url}
		class='flex justify-center items-center bg-black h-[240px]'
	>
		<div class='h-[240px] flex items-center justify-center'>
			<Image
				src={image.url}
				alt={image.alt}
				object-fit='cover'
				decoding='async'
				quality='low'
				format='webp'
				width={300}
				height={240}
				class='h-[240px] object-cover object-top'
				transition:name={image.alt}
			/>
		</div>
	</a>
	<div
		class='flex flex-col flex-grow rounded-b md:rounded-r md:rounded-b-none lg:rounded-r-none lg:rounded-b p-4 bg-slate-100 border-t md:border-t-0 lg:border-t md:border-l lg:border-l-0 border-black'
	>
		<a href={'/' + url} class='flex justify-center md:justify-start'>
			<h2 class='h2 font-bold hover:underline'>
				{title}
			</h2>
		</a>
		<span class='mb-4 flex justify-center md:justify-start text-caption'
			>by&nbsp;
			<a href=`/author/${slugify(author)}` class='hover:line-through'>
				{titlefy(author)}
			</a>
			 &nbsp;&#x2981;&nbsp;{datefy(pubDate)}
		</span>
		<p
			class='mb-6 flex flex-grow justify-center md:justify-start text-paragraph'
		>
			{description}
		</p>
		<div
			class='flex flex-wrap gap-2 justify-center md:justify-start text-paragraph'
		>
			{
				tags.map((tag: string) => {
					return (
						<a href={'/categories/' + slugify(tag)}>
							<p class='whitespace-nowrap border border-black p-1 rounded hover:bg-black hover:text-white'>
								{slugify(tag)}
							</p>
						</a>
					);
				})
			}
		</div>
	</div>
</li>
