---
import slugify from '../scripts/slugify';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class='flex flex-col flex-grow'>
		<h1 class='text-4xl mb-1' transition:name={frontmatter.title}>
			{frontmatter.title}
		</h1>
		<small class='mb-4'
			>by
			<a
				href=`/author/${slugify(frontmatter.author)}`
				class='hover:line-through'
			>
				{frontmatter.author}
			</a>
			 &#128900; {frontmatter.pubDate.slice(0, 10)}</small
		>
		<Image
			src={frontmatter.image.url}
			alt={frontmatter.image.alt}
			object-fit='cover'
			decoding='async'
			quality='low'
			format='webp'
			width={300}
			height={150}
			class='rounded-l my-8'
			transition:name={frontmatter.image.alt}
		/>
		<slot />
	</div>
</BaseLayout>
