---
import { datefy, slugify, titlefy } from '../scripts';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class='flex flex-col flex-grow'>
		<h1 class='text-heading-2 mb-1' transition:name={frontmatter.title}>
			{frontmatter.title}
		</h1>
		<small class='mb-4'
			>by
			<a
				href=`/author/${slugify(frontmatter.author)}`
				class='hover:line-through'
			>
				{titlefy(frontmatter.author)}
			</a>
			 &#x2981; {datefy(frontmatter.pubDate)}
		</small>
		<Image
			src={frontmatter.image.url}
			alt={frontmatter.image.alt}
			object-fit='cover'
			decoding='async'
			quality='low'
			format='webp'
			width={300}
			height={150}
			class='rounded-l my-8'
			transition:name={frontmatter.image.alt}
		/>
		<div class='text-paragraph'>
			<slot />
		</div>
	</div>
</BaseLayout>
