---
import type { CollectionEntry } from 'astro:content';
import { datefy, slugify, titlefy } from '@scripts';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

type Props = {
	data: CollectionEntry<'posts'>['data'];
};
const { data } = Astro.props;
---

<BaseLayout pageTitle={data.title}>
	<div class='flex flex-col flex-grow mdx'>
		<h1 class='h1'>
			{data.title}
		</h1>
		<span class='text-caption mb-2'>
			by
			<a href=`/author/${slugify(data.author)}` class='hover:line-through'>
				{titlefy(data.author)}
			</a>
			 &#x2981; {datefy(data.pubDate)}
		</span>
		<Image
			src={data.image.url}
			alt={data.image.alt}
			object-fit='cover'
			decoding='async'
			quality='low'
			format='webp'
			width={300}
			height={150}
			transition:name={data.image.alt}
		/>
		<div class='text-paragraph'>
			<slot />
		</div>
	</div>
</BaseLayout>
